[Unit]
Description=Dashboard server
After=network.target

[Service]
Type=simple
ExecStart=python3 /home/max/.config/dashboard/dashboardServer.py
WorkingDirectory=/home/max/.config/dashboard
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/max/.cache/dashboard-server.log
StandardError=append:/home/max/.cache/dashboard-server.log

[Install]
WantedBy=default.target
