[Desktop Entry]
Version=1.0
Type=Application
Name=Excel
GenericName=Spreadsheet (Microsoft 365)
Comment=Microsoft Excel via Vieb (Erwic)
Exec=/home/max/Scripts/viebErwic.sh --erwic=/home/max/.config/Vieb/erwics/excel.json --datafolder=/home/max/.local/share/vieb-erwic/excel/
Icon=ms-excel
Terminal=false
StartupNotify=true
Categories=Office;Spreadsheet;
StartupWMClass=Excel
